<div class="fhs_order_info" style="position: relative;top: 90px; width:90%; margin:auto">
    <div><img style=" display: block; margin-left: auto; margin-right: auto;" 
        src="https://cdn0.fahasa.com/skin/frontend/base/default/images/order_status/ico_successV2.svg?q=101604"></div>
    <div>
	Your order has been received    </div>
    <div>Thank you for your purchase from Lieblings</div>
    <div>
	Your order id is:&nbsp;<span>#<a href="https://www.fahasa.com/sales/order/view/order_id/6194826/">103028577</a></span>    </div>
    <div>You will receive an order confirmation email with details of your order and a link to track its progress.</div>
    <div>
	<div class="fhs-btn-box">
	    <button type="button" onclick="location.href='/';" title="Continue shopping" class="fhs-btn-confirm fhs-btn-goto" style="text-transform: uppercase;font-size: 0.95em; font-weight: 600;width: 300px;"><span>Continue shopping</span></button>
	</div>
    </div>
        <div>
	<div class="fhs-btn-box">
	    <button type="button" title="View my order" class="fhs-btn-order-detail" style="text-transform: uppercase;font-size: 0.95em; font-weight: 600;width: 300px;"><span>View my order</span></button>
	</div>
    </div>
    </div>