<div class="login__page" [style.background-image]="'url(assets/images/IMG_0058.jfif)'">
    <div class="login__row min-h-screen">
      <div class="login__hero flex flex-col justify-center items-center py-10 px-4 sm:px-8 xl:px-20 text-white">
        <a [routerLink]="['']" class="w-48 inline-block"><img src="assets/images/logo.png" alt="Lieblings" /></a>
        <h2 class="text-center mt-6">WELCOME BACK!</h2>
      </div>
      <div class="login__content p-4 sm:p-8 flex flex-col justify-center bg-accent">
        <div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
          <form>
            <h1 class="text-2xl font-bold">Forgotten password</h1>
            <div class="mb-4 mt-6">
              <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="email"> If you've forgotten your password, please enter your registered email address. </label>
                <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="email"> We'll send you a link to reset your password. </label>
              <input
                class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline h-10"
                id="email"
                type="text"
                placeholder="Your email address"
              />
            </div>
            <div class="flex w-full mt-6">
              <button
              routerLink="/auth/login" style="width:150px; border:black" class="w-full bg-gray-200 hover:bg-grey-900 text-gray-800 text-sm py-2 px-4 font-semibold rounded focus:outline-grey-900 focus:shadow-outline h-10"
              type="button"
            >Cancel</button>
              <button
              routerLink="/auth/valid" style="width:150px; position: relative; left: 60px;" class="w-full bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:shadow-outline h-10"
                type="button">Continue</button>
            </div>
          </form>
          <div class="mt-4">
            <a [routerLink]="['/']"  class="text-gray-700 text-sm hover:text-accent inline-flex items-center"><mat-icon class="h-4 w-4 leading-4 text-lg mr-2">keyboard_backspace</mat-icon>Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  