<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-5" style="background-color: white;">
        <div class="product-view-image">
          <div class="product-view-image-product" img_index="0">
            <img id="image" class="img"
              src="https://cdn0.fahasa.com/media/catalog/product/n/x/nxbtre_full_14222022_022259.jpg"
              data-src="https://cdn0.fahasa.com/media/catalog/product/n/x/nxbtre_full_14222022_022259.jpg"
              alt="Văn Phòng Thám Tử Quái Vật - Tập 7" title="Văn Phòng Thám Tử Quái Vật - Tập 7">
          </div>
        </div>
        <br>
        <carousel>
          <div class="carousel-cell" >
            <img src="/assets/images/products/01-1.png">
          </div>
          <div class="carousel-cell">
            <img src="/assets/images/products/01-1.png">
          </div>
          <div class="carousel-cell">
            <img src="/assets/images/products/01-1.png">
          </div>
          <div class="carousel-cell">
            <img src="/assets/images/products/01-1.png">
          </div>
          <div class="carousel-cell">
            <img src="/assets/images/products/01-1.png">
          </div>
          <div class="carousel-cell">
            <img src="/assets/images/products/01-1.png">
          </div>
        </carousel>
        <!-- <ul class="product-meta flex flex-wrap items-center mt-8 mb-8">
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)">
              <mat-icon class="mr-2" color="warn">start</mat-icon> 4.5/5 (14 Feedback)
            </a>
          </li>
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)">
              <mat-icon class="mr-2">favorite</mat-icon> Save
            </a>
          </li>

          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)">
              <mat-icon class="mr-2">share</mat-icon> Share
            </a>
          </li>
        </ul> -->
        <div class="ll-content mt-8">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="FRODUCT INFORMATION">
              <div class="product_view_tab_content_ad">
                <div class="product_view_tab_content_additional">
                  <table class="data-table table-additional">
                    <colgroup>
                      <col width="25%">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th class="table-label">
                          Product code </th>
                        <td class="data_sku">
                          8936071675552 </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Supplier </th>
                        <td class="data_supplier">
                          <a class="xem-chi-tiet" href="dong-a?fhs_campaign=ATTRIBUTE_PRODUCT">Đông A</a>
                        </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Author </th>
                        <td class="data_author">
                          Hector Malot </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Translator </th>
                        <td class="data_translator">
                          Huỳnh Lý </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Publisher </th>
                        <td class="data_publisher">
                          NXB Văn Học </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Publish Year </th>
                        <td class="data_publish_year">
                          2018 </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Language </th>
                        <td class="data_languages">
                          Tiếng Việt </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Weight </th>
                        <td class="data_weight">
                          590 </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Size </th>
                        <td class="data_size">
                          24 x 16 x 0.5 cm </td>
                      </tr>
                      <tr>
                        <th class="table-label">
                          Quantity of Page </th>
                        <td class="data_qty_of_page">
                          568 </td>
                      </tr>
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <p>
                  Không gia đình là tiểu thuyết nổi tiếng nhất trong sự nghiệp văn chương của Hector Malot. Hơn một trăm
                  năm
                  nay, tác phẩm giành giải thưởng của Viện Hàn Lâm Văn học Pháp này đã trở thành người bạn thân thiết
                  của
                  thiếu nhi và tất cả những người yêu mến trẻ khắp thế giới.
                </p>
                <p>
                  Không gia đình kể về chuyện đời Rémi, một cậu bé không cha mẹ, họ hàng thân thích. Sau khi phải rời
                  khỏi
                  vòng tay của người má nuôi, em đã đi theo đoàn xiếc thú của cụ già Vitalis tốt bụng. Kể từ đó, em lưu
                  lạc
                  khắp nơi, ban đầu dưới sự che chở của cụ Vitalis, sau đó thì tự lập và còn lo cả công việc biểu diễn
                  và sinh
                  sống cho cả một gánh hát rong. Đã có lúc em và cả đoàn lang thang cả mấy ngày đói khát rồi còn suýt
                  chết
                  rét. Có bận em bị lụt ngầm chôn trong giếng mỏ hàng tuần. Rồi có lần em còn mắc oan bị giải ra tòa và
                  phải ở
                  tù. Nhưng cũng có khi em được nuôi nấng đàng hoàng, no ấm. Song dù trong hoàn cảnh nào, Rémi vẫn giữ
                  được sự
                  gan dạ, ngay thẳng, lòng tự trọng, tính thương người, ham lao động chứ không hạ mình hay gian dối.
                  Cuối
                  cùng, sau bao gian nan khổ cực, em đã đoàn tụ được với gia đình của mình.
                </p>
              </div>
            </mat-tab>
            <mat-tab label="PRODUCT REVIEWS">Content 2</mat-tab>

          </mat-tab-group>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border" style="background-color: white;">
          <div class="border-b pt-10 pb-10">
            <h1 class="_title font-medium" style="position:relative; left:20px; top:2px;">Không Gia Đình (Bìa Cứng)</h1>
            <div class="text-accent text-4xl font-semibold" style="position:relative; left:20px; top:2px;">130.000 đ
            </div>
          </div>
          <div class="border-b p-5">
            <ul class="service-info">
              <li class="py-2 mr-2">
                <div class="flex items-center" style="font-size: 15px;">
                  <!-- <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon> -->
                  <strong class="mr-2 font-black">Supplier: </strong> Đông A
                </div>
              </li>
              <li class="py-2 mr-2">
                <div class="flex items-center" style="position: relative; left: 70px;font-size: 15px;">
                  <strong class="mr-2 font-black">Author: </strong> Hector Malot
                </div>
              </li>
              <li class="py-2 mr-2">
                <div class="flex items-center" style="font-size: 15px;">
                  <strong class="mr-2 font-black">Publisher: </strong> NXB Văn Học
                </div>
              </li>
            </ul>
            <!-- </div> -->
            <!-- <div class="border-b p-5">
            <h5>Addons Services</h5>
            <div class="flex mt-2">
              <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                <input type="checkbox" class="appearance-none border border-gray-300 checked:bg-gray-400 checked:border-transparent ..." />
              </div>
              <div class="flex-grow">
                <div class="price sm:float-right font-bold">€200.00</div>
                <h6 class="text-gray-800">Execution after work</h6>
                <p class="mt-2">
                  Thanks to our home office approach, we can serve you during the entire microservice even after work, if that suits you
                  better. The following times are possible after close of business: sun - thu, 9 p.m. - 7 p.m.
                </p>
              </div>
            </div>
            <div class="flex mt-4">
              <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                <input type="checkbox" class="appearance-none border border-gray-300 checked:bg-gray-400 checked:border-transparent ..." />
              </div>
              <div class="flex-grow">
                <div class="price sm:float-right font-bold">€200.00</div>
                <h6 class="text-gray-800">Execution after work</h6>
                <p class="mt-2">
                  Thanks to our home office approach, we can serve you during the entire microservice even after work, if that suits you
                  better. The following times are possible after close of business: sun - thu, 9 p.m. - 7 p.m.
                </p>
              </div>
            </div>
          </div> -->
            <!-- <div class="border-b px-5 pt-10 pb-12 text-center"> -->
            <!-- <p class="text-gray-400 mb-4">This price can increase due to additional bookings</p> -->
            <br>
            <div class="product-view-quantity-box">
              <label for="qty">Quantity:</label>
              <div class="product-view-quantity-box-block">
                <a class="btn-subtract-qty" onclick="subtractQty();"><img style="width: 12px; height: auto;"
                    src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png"></a>
                <input type="text" name="qty" id="qty" maxvalue="999" minvalue="1" align="center" value="1"
                  onkeypress="validateNumber(event)" onblur="validateQty();" title="Qty" class="input-text qty">
                <a class="btn-add-qty" onclick="addQty();"><img style="width: 12px; height: auto;"
                    src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png"></a>
              </div>
            </div>
            <br>
            <button mat-flat-button
              class="w-full text-xl font-semibold rounded focus:outline-grey-900 focus:shadow-outline h-10"
              style="width: 150px; border: 2px solid #C92127;height:44px; border-radius: 8px;color:#C92127">
              <span class="fhs_icon_cart"></span> Add to Cart</button>
            <button routerLink="/checkout" mat-flat-button
              class="w-full text-white text-xl font-semibold rounded focus:shadow-outline h-10"
              style="width: 150px; position: relative; left: 40px; height:44px;border-radius: 8px;background-color:#C92127">Buy
              now</button>
          </div>
        </div>
        <div class="border mt-5 px-5 py-10 text-center" style="background-color: white;">
          <p class="font-bold mb-3">Do you have any special requirements?</p>
          <button mat-stroked-button class="py-2 px-12 text-xl font-bold text-gray-700">Send us</button>
        </div>
      </div>
    </div>
  </div>
</div>