<mat-carousel timings="250ms ease-in" [autoplay]="true" interval="4000" color="accent" proportion="40" slides="4"
  [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
  orientation="ltr">
  <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
    [hideOverlay]="true">
  </mat-carousel-slide>
</mat-carousel>

<!-- <div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          The world's best consulting for manufacturing companies thanks to digital microservices
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <div class="inline-block mr-5">Offer:</div>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Digitalization</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Marketing</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">Staff</a>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="ml-auto" src="assets/images/hero.png" alt="Hero" />
      </div>
    </div>
  </div>
</div> -->

<div class="ll-service-area">
  <div class="container">
    <h1 class="ll-service__title text-center font-extralight mb-12">A STEP-BY-STEP GUIDE ON</h1>
    <div class="ll-services grid grid-cols-12 gap-8">
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2">Select Product</h3>
        <p>Choose your items and check your items information.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2">Add To Cart</h3>
        <p>Add items to your shopping cart.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2">Checkout Payment</h3>
        <p>Enter your personal information and choose your payment.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2">Delivery</h3>
        <p>Contact our customer services for any inquiries.</p>
      </div>
    </div>
  </div>
</div>
<div class="product-categories">
  <span class="ico_menu_red" style="margin-right: 8px;"></span>
  <span class="product-header-title">PRODUCT CATEGORY</span>
</div>
<div class="desktop_only">
  <div class="fhs_block" style="margin-top: 24px;">
    <div class="fhs_block_line">
      <div></div>
    </div>
    <div class="fhs_block_head">
      <div class="menu_category_block_content_list" style="display: grid;grid-template-columns: repeat(8, 1fr);">
        <a href="/van-phong-pham/dung-cu-hoc-sinh/balo.html?order=created_at&amp;limit=24&amp;p=1&amp;fhs_campaign=categoryicon"
          class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/100x100_balo.png"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/100x100_balo.png" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Balo</div>
        </a>
        <a href="/van-phong-pham/but.html?order=num_orders&amp;limit=24&amp;p=1&amp;fhs_campaign=categoryicon"
          class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/100x100_but.png"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/100x100_but.png" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Bút</div>
        </a>
        <a href="/van-phong-pham/san-pham-ve-giay/t-p-v/sort-by/created_at/sort-direction/asc.html?fhs_campaign=categoryicon"
          class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/100x100_tap.png"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/100x100_tap.png" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Tập</div>
        </a>
        <a href="/sach-trong-nuoc/giao-khoa-tham-khao/lop-2.html?fhs_campaign=categoryicon" class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Sach-tham-khao.jpg"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Sach-tham-khao.jpg" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Sách tham khảo
          </div>
        </a>
        <a href="/sach-trong-nuoc/sach-hoc-ngoai-ngu.html?fhs_campaign=categoryicon" class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Sach-hoc-ngoai-ngu.jpg"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Sach-hoc-ngoai-ngu.jpg" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Sách học <br>ngoại
            ngữ</div>
        </a>
        <a href="/sach-trong-nuoc/van-hoc-trong-nuoc.html?fhs_campaign=categoryicon" class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/van-hoc.png"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/van-hoc.png" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Văn học</div>
        </a>
        <a href="/foreigncategory.html?fhs_campaign=categoryicon" class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/foreign-books.png"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/foreign-books.png" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Foreign<br>Books
          </div>
        </a>
        <a href="/do-choi-luu-niem.html?fhs_campaign=categoryicon" class="fhs_column_center">
          <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/do-choi.png"
            data-src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/do-choi.png" style="margin: auto">
          <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Đồ chơi</div>
        </a>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="book-categories">
  <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png" class="center">
  <span class="product-header-title">MOST RATING BOOKS</span>
</div>
<ll-home-products></ll-home-products>
<!-- <br><br> -->
<!-- <div class="stationary-categories">
  <section style = "margin: auto">
    <mat-button-toggle-group>
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
  </section>
  
</div> -->